@model Donate

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row pt-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="MainPhoto"></label>
        <input asp-for="MainPhoto" accept="image/*" class="form-control" />
        <span asp-validation-for="MainPhoto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Info"></label>
        <input asp-for="Info" class="form-control" />
        <span asp-validation-for="Info" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-success btn-lg btn-block" value="Create" />
</form>
<a asp-area="Admin" asp-controller="DonateController" asp-action="Donate">
</a>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

