@model IList<AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


<div class="img">
    <img src="~/img/index.PNG" style="width:100%;height:auto; object-fit:contain;" />
</div>




