@model MissionVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


<div class="container-fluid">
    <div class="row" style="margin: 30px 0;">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-primary btn-block">
                <i class="fas fa-plus"></i> Create New  Client
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Image</th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
      
            <tr>
                <td>
                    <img style="width: 150px;" src="~/img/@Model.missionImage.Image" class="img-thumbnail" />
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <a title="Edit Client" asp-action="Edit" asp-route-id="@Model.missionImage.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
     
    </tbody>
</table>



