@model ContactAdress
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<form method="post" enctype="multipart/form-data" style="padding-top:2%;">

    <div class="form-group">
        <label asp-for="Icon"></label>
        <input asp-for="Icon" class="form-control" />
        <span asp-validation-for="Icon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Desc"></label>
        <input asp-for="Desc" class="form-control" />
        <span asp-validation-for="Desc" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-warning btn-lg btn-block" value="Edit" />
    <a asp-action="Contact" class="btn btn-primary btn-block btn-lg" style="margin: 30px 0;">
        <i class="fas fa-long-arrow-alt-left"></i> Back to Index
    </a>
</form>

