@model AboutVM
@{
    ViewData["Title"] = "Question";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


<div class="container-fluid">
    <div class="row" style="margin: 30px 0;">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-primary btn-block">
                <i class="fas fa-plus"></i> Create New  Question
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int count = 1;}
        @foreach (var item in Model.faqCollapses)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Desc
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <a title="Edit Question" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a title="Delete" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>

                </td>
            </tr>
            count++;
        }
    </tbody>
</table>



